In [59]:
import numpy as np
import pandas as pd

In [60]:
qualified = pd.read_csv("LSETF August 2020 - qualified.csv")
revoked = pd.read_csv("LSETF August 2020 - revoked.csv")
# qualified
revoked

,Sl,Name,EmailAddress,Phonenumber,Attended Date,Marks,Status,TotalQuestion,TotalAttempted,TotalCorrect
0,1,olajegedea1@gmail.com,olajegedea1@gmail.com,NaN,NaN,-,Yet to take,0,failed,NaN
1,2,balkizolanike@gmail.com,balkizolanike@gmail.com,NaN,NaN,-,Yet to take,0,passed,NaN
2,3,semilooretaiwo@gmail.com,semilooretaiwo@gmail.com,NaN,NaN,-,Yet to take,0,failed,NaN
3,4,afolaesuola@gmail.com,afolaesuola@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
4,5,olatoyeabiolamoses@gmail.com,olatoyeabiolamoses@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
261,258,onyemesimlouis@yahoo.com,onyemesimlouis@yahoo.com,NaN,NaN,-,Yet to take,0,NaN,NaN
262,259,ezekielimole1990@gmail.com,ezekielimole1990@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
263,260,orddanfem@yahoo.com,orddanfem@yahoo.com,NaN,NaN,-,Yet to take,0,NaN,NaN
264,261,umaruthmanizuafah@gmail.com,umaruthmanizuafah@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
265,262,tobibolaji2019@gmail.com,tobibolaji2019@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN

In [61]:
qualified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   S/N                              399 non-null    float64
 1   Timestamp                        399 non-null    object
 2   EmailAddress                     399 non-null    object
 3   Firstname                        399 non-null    object
 4   Lastname                         399 non-null    object
 5   Phonenumber                      398 non-null    object
 6   ResidentialAddress               398 non-null    object
 7   LocalGovernmentArea              399 non-null    object
 8   Gender                           399 non-null    object
 9   Dateofbirth                      399 non-null    object
 10  MaritalStatus                    399 non-null    object
 11  Selectyou preferredcourse        399 non-null    object
 12  Preferredprogramtime             399 non-null    object
 13  Doyouhavealaptop?                399 non-null    object
 14  HighestEducationalLevelObtained  399 non-null    object
 15  Yearofgraduation                 394 non-null    object
 16  HaveyoucompletedyourNYSC?        399 non-null    object
 17  CurrentOccupation                399 non-null    object
dtypes: float64(1), object(17)
memory usage: 30.4+ KB

In [63]:
revoked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sl              263 non-null    object
 1   Name            264 non-null    object
 2   EmailAddress    263 non-null    object
 3   Phonenumber     14 non-null     object
 4   Attended Date   1 non-null      object
 5   Marks           263 non-null    object
 6   Status          263 non-null    object
 7   TotalQuestion   263 non-null    object
 8   TotalAttempted  22 non-null     object
 9   TotalCorrect    100 non-null    object
dtypes: object(10)
memory usage: 10.5+ KB

In [68]:
email_of_qualified = qualified["EmailAddress"]
email_of_revoked = revoked["EmailAddress"]
email_of_qualified
# email_of_revoked

0               Idriskuforiji@gmail.com
1                     drimz09@gmail.com
2                   afofemi86@gmail.com
3              gbenrotemitayo@gmail.com
4               thisiskelechi@gmail.com
                     ...
404                morbal3594@yahoo.com
405    iyanuoluwa.oluwadara01@gmail.com
406           titilopemercy22@gmail.com
407          falanajoseph2019@gmail.com
408     Oyindamolaoronigbagbe@gmail.com
Name: EmailAddress, Length: 409, dtype: object

In [64]:
new_Email = pd.merge(qualified, revoked, on="EmailAddress")
new_Email

,S/N,Timestamp,EmailAddress,Firstname,Lastname,Phonenumber_x,ResidentialAddress,LocalGovernmentArea,Gender,Dateofbirth,...,CurrentOccupation,Sl,Name,Phonenumber_y,Attended Date,Marks,Status,TotalQuestion,TotalAttempted,TotalCorrect
0,4.0,7/29/2020 16:19,gbenrotemitayo@gmail.com,Temitayo,Gbenro,8183739297,"House 27 Daniels Garden Phase 2, Van Daniels s...",Eti Osa,Male,2/20/1990,...,Self Employed,36,gbenrotemitayo@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
1,5.0,7/28/2020 16:13,thisiskelechi@gmail.com,Kelechi,Opara,9029577152,50 emordi street olodi apapa lagos,Ajeromi ifelodun,Male,3/3/1990,...,Unemployed,27,thisiskelechi@gmail.com,NaN,NaN,-,Yet to take,0,fail,NaN
2,6.0,8/1/2020 0:18,abarimoshood@gmail.com,Moshood,Abari,8095930783,"5, Kadiri Court, off okesuna street, Lagos Isl...",Lagos Island East,Male,3/30/1990,...,Self Employed,13,abarimoshood@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
3,8.0,7/28/2020 22:18,ashiwajutobi@gmail.com,TOBI,ASIWAJU,7033632582,"34, Mojisola Street, Off Iju-Road, Ifako-Ijaiy...",Ifako-Ijaiye.,Male,4/29/1990,...,Unemployed,34,ashiwajutobi@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
4,9.0,8/4/2020 6:54,adekuemmanuel55@gmail.com,Emmanuel,Adeku,8177623119,25 Ogunbanwo street ketu Lagos,Kosofe,Male,5/3/1990,...,Employed,29,adekuemmanuel55@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,345.0,8/9/2020 22:15,praisetaiwo@gmail.com,Praise,Taiwo,9095615167,"9, Old Olowora Rd, Olowora.",Kosofe,Male,1/1/1996,...,Unemployed,239,praisetaiwo@gmail.com,NaN,NaN,-,Yet to take,0,NaN,"mrjosephkalu@gmail.com,"
318,350.0,8/8/2020 13:47,kehindejohn018@gmail.com,Kehinde,John,8147773949,"7, MutÃ­ Junction, via itaoluwo. Ikorodu Lagos ...",Ikorodu,Male,2/21/1998,...,Unemployed,254,kehindejohn018@gmail.com,NaN,NaN,-,Yet to take,0,NaN,NaN
319,351.0,8/11/2020 15:55,okoriepsymmun@gmail.com,Simon,Okorie,8161252450,"2 Ajose Street, Agric Ikorodu",Ikorodu,Male,2/15/1991,...,Unemployed,236,okoriepsymmun@gmail.com,NaN,NaN,-,Yet to take,0,NaN,"talktoaliyu@gmIl.com,"
320,352.0,7/28/2020 7:26,ybdtola1@gmail.com,ADETOLA,OYEBODE,2.35E+12,"26, Unilag Estate, Social Sciences, Magodo Pha...",Isheri,Male,1/7/1993,...,Unemployed,197,ybdtola1@gmail.com,NaN,NaN,-,Yet to take,0,NaN,"kingworiji@gmail.com,"
321,360.0,8/13/2020 9:59,babatunde4real44@gmail.com,Yusuf,Abeeb,7033720478,"38, Alowonle street papa ashafa dopemu",Agege,Male,5/29/1990,...,Unemployed,249,babatunde4real44@gmail.com,NaN,NaN,-,Yet to take,0,NaN,iamkaluchinonso@gmail.com

In [70]:
new_filtered = new_Email[["EmailAddress", "Phonenumber_x"]]
new_filtered

                   EmailAddress Phonenumber_x
0      gbenrotemitayo@gmail.com    8183739297
1       thisiskelechi@gmail.com    9029577152
2        abarimoshood@gmail.com    8095930783
3        ashiwajutobi@gmail.com    7033632582
4     adekuemmanuel55@gmail.com    8177623119
..                          ...           ...
317       praisetaiwo@gmail.com    9095615167
318    kehindejohn018@gmail.com    8147773949
319     okoriepsymmun@gmail.com    8161252450
320          ybdtola1@gmail.com      2.35E+12
321  babatunde4real44@gmail.com    7033720478

[322 rows x 2 columns]

In [69]:
new_filtered.to_csv('new_filtered.csv')